DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/

local_project/cric_data_postgres_data/*
local_project/my_taxi_postgres_data/*
data_ingestion/cricket_data_postgres_data/*
